.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    text-align: center;
    
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 0;
    margin: 0 5px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 0;
    line-height: 10px;
}

.BuildControl button:disabled {
    color: grey;
    cursor: default;
}

.BuildControl button:hover:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: black;
    color: white;
}

.BuildControl .More {
    background-color: black;
    color: #e87731;
}

.BuildControl .Less:hover, .BuildControl .Less:active { 
}

.BuildControl .More:hover,.BuildControl .More:active {
}

