/* mobile styles first */
.NavItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavItem a {
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

@media (max-width: 499px) {
    .NavItem a:hover,
    .NavItem a:active,
    .NavItem a.active {
        color: #e87731;
    }
}


/* desktop media query */
@media (min-width: 500px) {
    .NavItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavItem a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavItem a:hover {
        border-bottom: 4px solid #FFEF00;
        color: #FFEF00;
    }
    .NavItem a:active,
    .NavItem a:active {
        border-bottom: 4px solid blue;
        color: blue;
    }
}